<!doctype html>
<html>

<head id="button">
    <title>Button | Hoiio Design Standards</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Page Info -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../dist/img/connected.png">

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/standard.css">
    <link rel="stylesheet" type="text/css" href="../dist/css/codeHighlighter.css">

    <!-- Core JS -->
    <script src="../dist/js/jquery.min.js"></script>
    <script src="../dist/js/modernizr.js"></script>

    <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="../dist/css/semantic.min.css">
    <script src="../dist/js/semantic.min.js"></script>

</head>

<body data-page="button">

    <!-- Loading -->
    <div class="hexagon-loading"></div>

    <!-- Overlay Menu -->
    <nav id="menu-mobile" aria-hidden="true" aria-labelledby="mobile-toggle" role="navigation"></nav>

    <!--  Header  -->
    <header id="header">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="/standards/"><img src="../dist/img/connected.svg" alt="Hoiio Logo"></a>
            </div>
        </div>
        <button class="ui button mobile-toggle" aria-label="Menu" aria-expanded="false" aria-controls="menu-mobile">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </button>
    </header>

    <!-- Content -->
    <div id="content" data-align="center">

        <div class="title">button type</div>
        <!-- General description -->
        <div class="block" id="button-main">
            <p class="description" data-width="small"></p>
        </div>

        <!-- Standard btn -->
        <div class="block" id="button-standard">
            <div class="title">Standard button</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Default</div>
                    <div class="ui button">Standard button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Disable</div>
                    <div class="ui disabled button">Standard button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Loading</div>
                    <div class="ui loading button">Standard button</div>
                </div>
            </div>
        </div>
        
        <!-- Primary btn -->
        <div class="block" id="button-primary">
            <div class="title">Primary button</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Default</div>
                    <div class="ui primary button">Primary button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Disable</div>
                    <div class="ui disabled primary button">Primary button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Loading</div>
                    <div class="ui loading primary button">Primary button</div>
                </div>
            </div>
        </div>
        
        <!-- Warning btn -->
        <div class="block" id="button-warning">
            <div class="title">Warning button</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Default</div>
                    <div class="ui error button">Warning button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Disable</div>
                    <div class="ui error disabled button">Warning button</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Loading</div>
                    <div class="ui loading error button">Warning button</div>
                </div>
            </div>
        </div>
        
        <!-- Link btn -->
        <div class="block" id="button-link">
            <div class="title">Link button</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Default</div>
                    <a class="cancel">Link button</a>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Disable</div>
                    <a class="disabled cancel">Link button</a>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">Loading</div>
                    <a class="cancel disabled">Link button</a>
                </div>
            </div>
        </div>
        
        <!--Btn variation-->
        <div class="title">button variation</div>
        
        <!-- General description -->
        <div class="block" id="button-second">
            <p class="description" data-width="small"></p>
        </div>
        
        <!-- icon btn -->
        <div class="block" id="button-link">
            <div class="title">Icon</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Icon only</div>
                    <div class="ui icon button"  data-content="Download" data-variation="inverted" data-position="top center"><i class="download icon"></i></div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">With text button</div>
                    <div class="ui button"><i class="download icon"></i> Download</div>
                </div>
                <div class="column buttonItem">
                    <div class="buttonName">With text link</div>
                    <a class="cancel"><i class="download icon"></i>Download</a>
                </div>
            </div>
        </div>
        
        <!-- groupped btn -->
        <div class="block" id="button-link">
            <div class="title">Groupped button</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column stackable grid" data-width="medium">
                <div class="column buttonItem">
                    <div class="buttonName">Icon</div>
                    <div class="ui buttons">
                        <button class="ui icon button" data-content="Edit" data-variation="inverted" data-position="top center">
                            <i class="edit icon"></i>
                        </button>
                        <button class="ui icon button" data-content="Download" data-variation="inverted" data-position="top center">
                            <i class="download icon"></i>
                        </button>
                        <button class="ui icon button" data-content="Settings" data-variation="inverted" data-position="top center">
                            <i class="setting icon"></i>
                        </button>
                    </div>
                </div>
                
                <div class="column buttonItem">
                    <div class="buttonName">Text only</div>
                    <div class="ui buttons">
                        <button class="ui button">One</button>
                        <button class="ui button">Two</button>
                        <button class="ui button">Three</button>
                    </div>
                </div>
                
                <div class="column buttonItem">
                    <div class="buttonName">Icon & text</div>
                    <div class="ui buttons">
                        <button class="ui button" data-content="Edit" data-variation="inverted" data-position="top center">
                            <i class="edit icon"></i>Edit
                        </button>
                        <button class="ui button" data-content="Download" data-variation="inverted" data-position="top center">
                            <i class="download icon"></i>Save
                        </button>
                        <button class="ui button" data-content="Settings" data-variation="inverted" data-position="top center">
                            <i class="setting icon"></i>Settings
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Custom JS -->
<script src="../dist/js/d3.js"></script>
<script src="../dist/js/lodash.js"></script>
<script src="../dist/data/allData.js"></script>
<script src="../dist/data/copy.js"></script>
<script src="../dist/js/component.js"></script>
</body>

</html>
