<!doctype html>
<html>

<head id="input">
    <title>Input | Hoiio Design Standards</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Page Info -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../dist/img/connected.png">

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/standard.css">
    <link rel="stylesheet" type="text/css" href="../dist/css/codeHighlighter.css">

    <!-- Core JS -->
    <script src="../dist/js/jquery.min.js"></script>
    <script src="../dist/js/modernizr.js"></script>

    <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="../dist/css/semantic.min.css">
    <script src="../dist/js/semantic.min.js"></script>

</head>

<body data-page="input">

    <!-- Loading -->
    <div class="hexagon-loading"></div>

    <!-- Overlay Menu -->
    <nav id="menu-mobile" aria-hidden="true" aria-labelledby="mobile-toggle" role="navigation"></nav>

    <!--  Header  -->
    <header id="header">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="/standards/"><img src="../dist/img/connected.svg" alt="Hoiio Logo"></a>
            </div>
        </div>
        <button class="ui button mobile-toggle" aria-label="Menu" aria-expanded="false" aria-controls="menu-mobile">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </button>
    </header>

    <!-- Content -->
    <div id="content" data-align="center">

        <div class="title">Input</div>
        <!-- General description -->
        <div class="block" id="input-main">
            <p class="description" data-width="small"></p>
        </div>

        <!-- Single line input -->
        <div class="block" id="input-single-line">
            <div class="title">single line input</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column grid" data-width="medium">
                <!-- Default -->
                <div class="column setItem">
                    <div class="setName">Enabled</div>
                    <div class="ui input">
                      <input type="text" placeholder="Type your name">
                    </div>
                </div>
                
                <!-- Disabled -->
                <div class="column setItem">
                    <div class="setName">Disabled</div>
                    <div class="ui disabled input">
                      <input type="text" placeholder="Type your name">
                    </div>
                </div>
                
                <!-- Loading -->
                <div class="column setItem">
                    <div class="setName">Loading</div>
                    <div class="ui icon loading input">
                      <input type="text" placeholder="Type your name">
                        <i class="search icon"></i>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Area input -->
        <div class="block" id="input-area">
            <div class="title">Area input</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui two column grid" data-width="medium">
                <!-- Default -->
                <div class="column setItem">
                    <div class="setName">Default height</div>
                    <textarea></textarea>
                </div>
                
                <!-- Disabled -->
                <div class="column setItem">
                    <div class="setName">Defined height</div>
                    <textarea rows="6"></textarea>
                </div>
                
            </div>
        </div>
        
        <!-- Error -->
        <div class="block" id="input-error">
            <div class="title">Error input</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui one column grid" data-width="medium">
                <!-- Default -->
                <div class="column setItem">
                    <div class="setName">Default</div>
                    <div class="ui error input">
                      <input type="text" placeholder="Type your name">
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
        
        <!-- Input variation -->
        <div class="title">Input Variation</div>
        <!-- General description -->
        <div class="block" id="input-variation">
            <p class="description" data-width="small"></p>
        </div>

        <!-- Icon input -->
        <div class="block" id="input-icon">
            <div class="title">Icon</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui two column grid" data-width="medium">
                <!-- Right aligned icon -->
                <div class="column setItem">
                    <div class="setName">Left-aligned icon</div>
                    <div class="ui icon input">
                      <input type="text" placeholder="Type your first name">
                        <i class="search icon"></i>
                    </div>
                </div>
                
                <!-- Left aligned icon -->
                <div class="column setItem">
                    <div class="setName">Right-aligned icon</div>
                    <div class="ui left icon input">
                      <input type="text" placeholder="Search users">
                        <i class="user icon"></i>
                    </div>
                </div>
                
            </div>  
            
            <!-- Link icon -->
            <p class="description" id="input-icon-link" data-width="small"></p>
             <div class="ui one column grid" data-width="medium">
                <div class="column setItem">
                    <div class="setName">Link icon</div>
                    <div class="ui icon input">
                      <input type="text" placeholder="Share with members...">
                        <i class="link link icon"></i>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- Text Labeled input -->
        <div class="block" id="input-labeled-text">
            <div class="title">Text labeled</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui three column stackable grid" data-width="medium">
                <!-- Right aligned text label -->
                <div class="column setItem">
                    <div class="setName">Left-aligned text label</div>
                    <div class="ui labeled input">
                        <div class="ui label">http://</div>
                        <input type="text" placeholder="mysite.com">
                    </div>
                </div>
                
                <!-- Left aligned text label -->
                <div class="column setItem">
                    <div class="setName">Right-aligned text label</div>
                    <div class="ui right labeled input">
                      <input type="text" placeholder="Search users">
                        <div class="ui label">kg.</div>
                    </div>
                </div>
                
                <!-- Both side text labeled -->
                <div class="column setItem">
                    <div class="setName">2-sided text label</div>
                    <div class="ui right labeled input">
                        <div class="ui label">http://</div>
                        <input type="text" placeholder="mysite.com">
                        <div class="ui label">.com</div>
                    </div>
                </div>
                
            </div> 
        </div>
        
        <!-- Selection Labeled input -->
        <div class="block" id="input-labeled-selection">
            <div class="title">Selection Labeled</div>
            <p class="description" data-width="small"></p>
             <div class="ui three column grid" data-width="medium">
                <!-- Left aligned selection label -->
                 <div class="column setItem">
                    <div class="setName">left-aligned selection label</div>
                    <div class="ui labeled input">
                        <div class="ui compact selection dropdown" data-type="label-first">
                            <i class="dropdown icon"></i>
                            <div class="text">+84</div>
                            <div class="menu">
                                <div class="item" data-value="0">+65</div>
                                <div class="item" data-value="1">+84</div>
                                <div class="item" data-value="2">+33</div>
                            </div>
                        </div>
                        <input type="text" placeholder="Phone number">
                    </div>
                </div>
                 
                 <!-- Right aligned selection label -->
                 <div class="column setItem">
                    <div class="setName">Right-aligned selection label</div>
                    <div class="ui right labeled input">
                        <input type="text" placeholder="Find domain">
                        <div class="ui compact selection dropdown" data-type="label-last">
                            <i class="dropdown icon"></i>
                            <div class="text">.com</div>
                            <div class="menu">
                                <div class="item" data-value="0">.com</div>
                                <div class="item" data-value="1">.net</div>
                                <div class="item" data-value="2">.org</div>
                            </div>
                        </div>
                    </div>
                </div>
                 
                 <!-- Both side selection label -->
                 <div class="column setItem">
                    <div class="setName">2-sided selection label</div>
                    <div class="ui right labeled input">
                        <div class="ui compact selection dropdown" data-type="label-first">
                            <i class="dropdown icon"></i>
                            <div class="text">+84</div>
                            <div class="menu">
                                <div class="item">+65</div>
                                <div class="item">+84</div>
                                <div class="item">+33</div>
                            </div>
                        </div>
                        <input type="text" placeholder="Find domain">
                        <div class="ui compact selection dropdown" data-type="label-last">
                            <i class="dropdown icon"></i>
                            <div class="text">Home</div>
                            <div class="menu">
                                <div class="item" data-value="0">Work</div>
                                <div class="item" data-value="1">Personal</div>
                                <div class="item" data-value="2">Mobile</div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
        
        <!-- Action Labeled input -->
        <div class="block" id="input-labeled-action">
            <div class="title">Action Labeled</div>
            <p class="description" data-width="small"></p>
             <div class="ui three column grid" data-width="medium">
                <!-- Left aligned selection label -->
                 <div class="column setItem">
                    <div class="setName">Left-aligned action label</div>
                    <div class="ui left action input">
                        <button class="ui primary labeled icon button">
                            <i class="cart icon"></i>
                            Subscribe
                        </button>
                        <input type="text" value="$520">
                    </div>

                </div>
                 
                 <!-- Right aligned action label -->
                 <div class="column setItem">
                    <div class="setName">Right-aligned action label</div>
                    <div class="ui action input">
                        <input type="text" value="+84 37928474">
                        <button class="ui button">Copy</button>
                    </div>
                </div>
                 
                 <!-- complex label -->
                 <div class="column setItem">
                    <div class="setName">Complex action label</div>
                    <div class="ui action input">
                        <input type="text" placeholder="Search...">
                        <div class="ui compact selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="text">Articles</div>
                            <div class="menu">
                                <div class="item" value="general">General</div>
                                <div class="item" selected="" value="articles">Articles</div>
                                <div class="item" value="products">Products</div>
                            </div>
                        </div>
                        <div type="submit" class="ui primary button">Add</div>
                    </div>
                </div>  
            </div> 
        </div>
        
         <!-- Fluid input -->
        <div class="block" id="input-fluid">
            <div class="title">Fluid input</div>
            <p class="description" data-width="small"></p>
            
            <div class="ui one column grid" data-width="small">
                <div class="column setItem">
                    <div class="setName">Fluid input</div>
                    <div class="ui fluid input">
                      <input type="text" placeholder="Type your first name">
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Footer -->
    <div id="footer"></div>

    <!-- Custom JS -->
<script src="../dist/js/d3.js"></script>
<script src="../dist/js/lodash.js"></script>
<script src="../dist/data/allData.js"></script>
<script src="../dist/data/copy.js"></script>
<script src="../dist/js/component.js"></script>
</body>

</html>
